.container {
  display: flex;
  height: 95vh;
  width: 75vw;
}
.portfolioContainer {
  height: 95vh;
  width: 75vw;
  margin: 0 auto;
}

.container .row {
  margin: 0 auto;
}

.commentCard {
  width: 300px;
}

.glassCard {
  background: linear-gradient(
    to right bottom,
    rgba(84, 110, 122, 0.9),
    rgba(84, 110, 122, 0.8)
  );
}

.logoSize {
  height: auto;
  width: 20px;
  margin-bottom: -3px;
  margin-left: 5px;
  margin-right: -5px;
}

.languageLogo {
  height: auto;
  width: 35px;
  margin-right: 10px;
}

.angularLogo {
  width: 50px;
}

.glassSidenav {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8)
  );
}

#badge {
  width: 125px;
  height: auto;
}
