.container {
  display: flex;
  /* position: absolute;
  top: 64px;
  left: 0; */
  height: 95vh;
  width: 75vw;
}
.portfolioContainer {
  /* display: flex; */
  /* position: absolute;
  top: 64px;
  left: 0; */
  height: 95vh;
  width: 75vw;
  margin: 0 auto;
}

.container .row {
  margin: 0 auto;
}

.commentCard {
  width: 300px;
}
